<div class="center jumbotron">
  <%= t('views.static_pages._user_not_logged_in.s1_html') %>
  <%= t('views.static_pages._user_not_logged_in.s2_html') %>
  
  <%= link_to t('views.static_pages._user_not_logged_in.button1'), signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to t('views.static_pages._user_not_logged_in.button2'), login_path, class: "btn btn-lg btn-primary" %>
  <%= link_to t('views.static_pages._user_not_logged_in.button3'), guest_login_path, method: :post, class: "btn btn-lg btn-primary" %>
</div>

<%= render 'movie_popular' %>

<%= link_to image_tag("moviest.png", alt: "moviest logo"), 
            'https://moviest-jp.com' %>