<% provide(:title, t('views.resend_activations.new.title')) %>
<%= t('views.resend_activations.new.s1_html') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:resend_activation, url: resend_activations_path) do |f| %>
      <%= f.label :email, t('views.resend_activations.new.label') %>
      <%= f.email_field :email, class: 'form_control' %>
      
      <%= f.submit t('views.resend_activations.new.button'), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>