<li id="comment-<%= comment.id %>">
  <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
  <span class="user"><%= link_to comment.user.name, comment.user %></span>
  <span class="content"><%= comment.content %></span>
  <span class="title"><%= link_to comment.movie.title, "/movies/#{comment.movie_id}" %></span>
  <span class="timestamp">
    <% if current_user.already_favorited?(comment) %>
      <%= link_to '❤', comment_favorites_path(comment), method: :delete %>
    <% else %>
      <%= link_to '♡', comment_favorites_path(comment), method: :post %>
    <% end %>
    <%= comment.favorites.count %>
    Posted <%= time_ago_in_words(comment.updated_at) %> ago.
    <% if current_user?(comment.user) %>
      <%= link_to "edit", "/comments/#{comment.id}/edit?movie_id=#{comment.movie_id}" %>
      <%= link_to "delete", comment, method: :delete,
                                     data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>