<% provide(:title, "Search") %>
<%= t('views.movies.search.s1_html') %>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div>
          <%= form_tag(search_path, method: :get) do %>
            <%= search_field_tag :looking_for, nil, 
            placeholder: t('views.movies.search.placeholder') %>
            <%= submit_tag t('views.movies.search.button1') %>
          <% end %>
        </div>
    </div>
</div>
        
<div>
  <% if @movie_results.blank? %>
    <%= t('views.movies.search.s2_html') %>
  <% else %>
    <p><%= t('views.movies.search.s3_html') %><%= @search_term %> <%= t('views.movies.search.s4_html') %></p>
    <table border="1">
      <tr>
        <%= t('views.movies.search.s5_html') %>
        <%= t('views.movies.search.s6_html') %>
        <%= t('views.movies.search.s7_html') %>
        <%= t('views.movies.search.s8_html') %>
      </tr>
      <% @movie_results.each do |movie| %>
        <tr>
          <td><%= image_tag("https://image.tmdb.org/t/p/w200#{movie["poster_path"]}", :alt => 'poster') %></td>
          <td><%= link_to movie['title'], action: 'show', id: "#{movie["id"]}" %></td>
          <td><%= movie['release_date'] %></td>
          <td><%= movie['overview'] %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>