<% if logged_in? %>
  <%= render 'show_information'%>
  <p><strong>🔶レビューを投稿しましょう！</strong></p>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="comment_form">
          <%= render 'shared/comment_form' %>
        </section>
      </aside>
      <div class="col-md-8">
        <% if !@movie_db.nil? && @movie_db.comments.any? %>
          <h3>Comments (<%= @movie_db.comments.count %>)</h3>
          <ol class="comments">
            <%= render @comments %>
          </ol>
          <%= will_paginate @comments %>
        <% end %>
      </div>
    </div>
  <% else %>
  <%= render 'show_information'%>
  <%= link_to "🔶ログインしてレビューを投稿しましょう！", root_path %>
<% end %>