<%= form_for(@comment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.hidden_field :movie_id, :value => params[:movie_id] %>
    <%= f.hidden_field :user_id,  :value => current_user.id %>
    <%= f.label "Review" %>
    <%= f.text_area :content, placeholder: "Compose new comment..." %>
  </div>
  <%= f.submit "Update", class: "btn btn-primary" %>
<% end %>