<header class="navbar navbar-fixed-top navbar-inverse">
  
  <div class="navbar-hearder">
    <%= link_to "Moviest", root_path, id: "logo" %>
  </div>
  
  <%= form_tag(search_path, method: :get, class: "navbar-form navbar-left") do %>
    <ul class="nav navbar-nav navbar-left">
      <li><%= search_field_tag :looking_for, nil, placeholder: 
                                                  t('views.layouts._header.placeholder'), 
                                                  class: "form-control" %></li>
      <li><%= button_tag t('views.layouts._header.button1'), class: "btn btn-primary" %></li>
    </ul>
  <% end %>
  
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if I18n.locale == :en && current_page?(edit_comment_path) then %>
        <li><%= link_to t('views.layouts._header.lang'),   "/ja" %></li>
        <% elsif I18n.locale == :ja && current_page?(edit_comment_path) %>
        <li><%= link_to t('views.layouts._header.lang'),   "/en" %></li>
        <% end %>
        <li><%= link_to t('views.layouts._header.home'),   root_path %></li>
        <li><%= link_to t('views.layouts._header.help'),   help_path %></li>
        <% if logged_in? %>
          <li><%= link_to t('views.layouts._header.users'), users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t('views.layouts._header.account') %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user == User.find_by(name: 'ゲストユーザー') %>
                    <li>
                      <%= link_to t('views.layouts._header.logout'), logout_path, method: :delete %>
                    </li>
                  <% else %>
                    <li><%= link_to t('views.layouts._header.profile'), current_user %></li>
                    <li><%= link_to t('views.layouts._header.settings'), edit_user_path(current_user) %></li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to t('views.layouts._header.logout'), logout_path, method: :delete %>
                    </li>
              <% end %>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t('views.layouts._header.login'), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>